.container{
    width: 70%;
    margin: auto;
    text-align: center;
}

.dice {
    text-align: center;
    display: inline-block;
  
  }
  
   body {
    background-color: #393E46;
  }
  
 h1 {
    margin: 30px;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 8rem;
    color: #4ecc74;
  }
  
   p {
    font-size: 2rem;
    color: #4ECCA3;
    font-family: 'Indie Flower', cursive;
  }
  
  img {
    width: 80%;
  }
  
  footer {
    margin-top: 5%;
    color: #EEEEEE;
    text-align: center;
    font-family: 'Indie Flower', cursive;
  
  }
.buttonn{
      margin-top: 5%;
      font-size: 50px;
      font-family: 'Courier New', sans-serif, monospace;
      border-radius: 50px;
      border: none;
      cursor: pointer;
      background-color: rgb(109, 243, 109);
      /* background-size: auto;   */
}
/* .botton {
  color: white;
  padding: 8px;
  border-radius: 8px;
  border: none;
  font-size: 20px;
  margin-left: 1em;
  cursor: pointer;
} */


/* .button {
  margin-top: 5%;
    border-radius: 3px;
    border: none;
    /* background-color: red; */
    /* color: white;
    border-radius: 3px;
    transition: all 0.3s ease
  }*/ 
  .buttonn:hover {
    transform: rotate(360deg);
    transform: scale(1.01);
  }  